html,
body {
    height: 100%;
    background-color: #fafafa;
}

::selection {
    background: #74bfe8; /* Safari */
}

.wrap {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap > .container {
    padding: 50px 0px 30px;
}

.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}

/* align the logout "link" (button in form) of the navbar */
.nav li > form > button.logout {
    padding: 15px;
    border: none;
}

@media(max-width:767px) {
    .nav li > form > button.logout {
        display:block;
        text-align: left;
        width: 100%;
        padding: 10px 15px;
    }
}

.nav > li > form > button.logout:focus,
.nav > li > form > button.logout:hover {
    text-decoration: none;
}

.nav > li > form > button.logout:focus {
    outline: none;
}

.navbar-main .navbar-brand{
    background: transparent;
    color: white;
    font-size: 24px;
    font-weight: 400;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all .2s
}

.navbar-simple .navbar-brand{
    background: transparent;
    color: black;
    font-size: 24px;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

#back-top{
    background-image: url("/frontend/web/uploads/1.png");
    width: 100%;
    box-shadow: 0px 1px 10px #c9c9c9;
    transition: all 0.2s;
}

.navbar{
    font-size: 14px;
    background-color: transparent;
    border-width: 0px;
    border-radius: 0px;
}

.navbar-main .navbar-nav>li>a{
    font-size: 15px;
    color: white;
    background-color: transparent;
    font-weight: 340;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar-simple .navbar-collapse{
    padding-bottom: 5px;
    border-bottom: 1px solid rgb(236, 236, 236);
}

.navbar-simple .navbar-nav>li>a{
    font-size: 15px;
    color: black;
    background-color: transparent;
    font-weight: 300;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar-main .navbar-nav>li>a:hover,
.navbar-main .navbar-nav>li>a:focus {
    color: rgba(255, 255, 255, 1);
    background-color: rgb(224, 221, 221);
    transition: all 0.2s;
}

.navbar-simple .navbar-nav>li>a:hover,
.navbar-simple .navbar-nav>li>a:focus {
    color: black;
    background-color: rgb(224, 221, 221);
    transition: all 0.2s;
}

.navbar .navbar-nav>.active>a,
.navbar .navbar-nav>.active>a:hover,
.navbar .navbar-nav>.active>a:focus {
    color: black;
    background-color: rgb(255, 255, 255);
}

.navbar-main .navbar-toggle {
    border-color: #ffffff;
}

.navbar-simple .navbar-toggle {
    border-color: #333;
}

.navbar-simple .navbar-toggle .icon-bar {
    background-color: #333;
}

.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-header::after{
    color:white;
}

@media only screen and (max-width : 767px) {
    .navbar .navbar-nav>li>a {
        color:black;
    }

    .navbar-nav{
        background-color: white;
    }

    .modal-dialog{
        margin: 0;
    }
}

#map{
    width: 100%;
    height: 400px;
}

.menu-down{
    transition: all .5s;
    background-color: rgb(255, 255, 255);
    opacity: .985;
}
/*
.menu-down li>a{
    color: #ffbf38;
}

.menu-down .navbar-brand{
    color: #ffbf38;
}

.menu-down .active>a{
    color: white;
    background: #ffbf38;
}

.menu-down .navbar-toggle{
    background: #ffbf38;
}
*/
.active-down{
    color: white;
    background-color: rgb(0, 0, 0);
}

.scroll-bar{
    background: #cea398;
    height: 2px;
    width: 0%;
    position: fixed;
    z-index: 9999;
}

.big-footer{
    background-color: #e6e6e6;
    padding: 30px;
    text-align: center;
   /* box-shadow: 0px 1px 10px #c9c9c9;*/
}

.font-footer{
    font-family: Script Std, cursive;
    font-size: 14px;
    color: black;    
}

.setka-pict{
    filter: invert(100%);
    transition: all .2s;
}

.setka-pict:hover{
    opacity: .8;
}

.middle-cont{
    margin: 0px;
}

.search-posts{
    background-color: white;
    display: inline-block;
    margin-top: 25px;
    padding: 10px 20px;
    border-radius: 25px;
    font-size: 20px;
    font-weight: bold;
    font-family: Script Std, cursive;
    cursor: pointer;
    box-shadow: inset 0px 1px 10px #ffb834;
    transition: all 0.2s;
}

.search-posts:hover{
    box-shadow: inset 0px 1px 3px #ffb834;
}

.text-search{
    padding-right: 5px;
    transition: all 0.2s;
}

.span-icon{
    color: #ffd04f;
    transition: all 0.2s;
}

.search-posts:hover > .span-icon{
    color: #ff9425;
}

.search-posts:hover > .text-search{
    letter-spacing: 1px;
}

.modal-content{
    border-radius: 3px;
}

.close-modal-span{
    font-size: 35px;
    font-weight: normal;
    color: rgb(255, 136, 0);
}

.search-place-input{
    font-size: 22px;
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0px;
    border-color: rgb(224, 224, 224); 
    color: black;
    outline: none;
}

.search-place-input:focus{
    border-color: rgb(190, 190, 190); 
}

::placeholder {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sign-inputs{
    background-color: #fcfcfb;
    height: 3em;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all .2s;
}

.sign-inputs:hover{
    background-color: white;
}

.sign-inputs:focus{
    background-color: white;
    border-color: #ffdd9f;
} 

.form-control{
    box-shadow: none !important;
    -webkit-box-shadow: none;
}

.has-error > .form-control{
    border-color: #f0a69f;
}

.has-error > .form-control:focus{
    border-color: rgb(224, 93, 17);
}

.has-error > .help-block{
    font-size: .9em;
    color: #f0a69f;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.has-error > .help-block-error{
    font-size: .9em;
    color: #ff3223;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.has-success > .form-control{
    border-color: #b3ebbe;
}

.has-success > .form-control:focus{
    border-color: #8cd89c;
}

.modal-header{
    padding-top: 25px;
    padding-bottom: 0px;
    border-bottom: none;
}

.modal-body{
    padding-left: 0px;
    padding-right: 0px;
}

.modal-body > div{
    font-size: 16px;
    font-weight: 700;
    color: black;
}

.searched-city{
    padding: 12px 22px;
    cursor: pointer;
    transition: padding .2s ease;
}

.searched-city:hover{
    padding-left: 30px;
}

.searched-city:hover{
    background-color: rgb(248, 248, 248);
}

.recent-search{
    padding: 12px 22px;
    font-weight: 100;
    color: rgb(182, 181, 181);
    font-size: 12px;
}

.city-parent{
    font-size: 14px;
    color: rgb(88, 88, 88);
    font-weight: normal;
    display: block;
    margin-top: 3px;
}

.in{
    z-index: 10000;
}

#modal-default{
    z-index: 10001;
}

.cko{
    padding: 20px;
    background-color: white;
    box-shadow: 0px 1px 3px #c9c9c9;
}

.wrap-sign {
    min-height: 100%;
    height: auto;
    margin: 0 auto -60px;
    padding: 0 0 60px;
}

.wrap-sign > .container-fluid{
    margin: 0px;
    padding: 0px;
}

.wrap-sign > .container-fluid > .middle-sign {
    background: white;
    padding: 0px;
    margin-top: 60px;
    margin-left: 0px;
    margin-right: 0px;
    border-radius: 30px;
    box-shadow: 0px 1px 5px #c9c9c9;
}

.top-sign-picture{
    background-image: url("/frontend/web/uploads/1.png");
    height: 100px;
    border-radius: 30px 30px 0 0;
    text-align: center;
    line-height: 100px;
}

.top-sign-picture > a{
    color: white;
    font-size: 36px;
    font-weight: bold;
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
    font-family: Trebuchet MS;
    padding-left: 10px;
    text-decoration: none;
    transition: all .2s;
}

.top-sign-picture > a:hover{
    opacity: .8;
}

.pad-sign{
    padding: 0 15px;
}

.site-login, .site-signup{
    padding: 50px 20px 20px;
}

.img-and-span-right{
    text-align: center;
    vertical-align: middle;
    padding-top: 40px;
}

.above-sign-span{
    border-radius: 50%;
    box-shadow: 0px 0px 1px #c9c9c9;
}

.under-sign-img{
    padding-top: 20px;
    display: block;
    color: #202124;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 18px;
    font-weight: 300;
}

.field-loginform-rememberme{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.sign-advice{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

@media only screen and (max-width : 767px) {
    .wrap-sign > .container-fluid > .middle-sign {
        border-radius: 0;
        margin: 0px;
    }

    .top-sign-picture{
        border-radius: 0;
    }

    .img-and-span-right{
        display: none;
    }
}

.sign-btn{
    padding: 6px 45px;
    border-radius: 5px;
    background-color: #d8e0b1;
    border: none;
    color: white;
    font-size: 1.2em;
    font-weight: 700;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all .2s;
}

.sign-btn:hover{
    background-color: #9bdcb2;
}

.checkbox{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.li-heigth-max{
    height: 50px;
    vertical-align: middle;
    padding-top: 5px;
    padding-left: 10px;
}

.btn-profile{
    padding: 10px 15px;
    border-radius: 2px;
    background-color: white;
    border: none;
    cursor: url("https://maps.gstatic.com/mapfiles/openhand_8_8.cur"), default;
}

.popover{
    border: none;
    border-radius: 2px;
    padding: 0px 10px;
    box-shadow: 0px 1px 5px #919191;
}

.popover-content div{
    min-width: 150px;
    padding: 7px 0px;
}

.popover-content div hr{
    margin: 5px 0px;
}

.popover-content a{
    font-size: 14px;
    color: #4a4a4a;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    opacity: .8;
    text-decoration: none;
    cursor: url("https://maps.gstatic.com/mapfiles/openhand_8_8.cur"), default;
}

.background-png{
    background-image: url("/frontend/web/uploads/back-redact.png");
    background-size: 1400px auto;
    background-repeat: no-repeat;
}

.wrap > .container-post {
    padding: 50px 10px 30px;
    margin-left: auto;
    margin-right: auto;
    max-width: 850px;
}

.cool-font-title, .cool-font-untitle{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.cool-font-title{
    font-size: 34px;
    font-weight: 300;
}

.cool-font-untitle{
    font-size: 18px;
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
}

#back-top-simple{
    width: 100%;
    transition: all 0.2s;
}

.create-combo-input{
    box-shadow: 0 20px 60px rgba(86,74,64,.25) !important;
    height: 3.5em;
    font-size: 18px;
    font-weight: 200;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.post-create{
    visibility: hidden; 
    position: absolute;
    opacity: 0;
    transition: all .5s;
}

.city-post-create{
    visibility: visible;
    position: inherit;
    opacity: 1;
    transition: all .5s;
}

.redactor-toolbar{
    display: none;
}

#click-span, #click-span-back, #click-span-travel-add-descript, #click-span-travel, #click-span-travel-back, .btn-create-post, #click-span-travel-add-photos, #click-span-travel-scroll-to-photos{
    padding: 10px 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 400;
    cursor: pointer;
    transition: all .2s;
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}

#click-span-travel-scroll-to-photos{
    background: #ff9595;
    color: white;
    float: right;
    margin-top: -7px;
    text-align: center;
    font-size: 25px;
    width: 60px;
    padding: 0px 15px;
    visibility: hidden;
}

#click-span-travel-scroll-to-photos > ion-icon{
    transition: all .5s;
}

#click-span-travel-scroll-to-photos:hover > ion-icon{
    transform: translateY(20%);
}

#click-span, #click-span-back{
    background: #ffb595;
    color: rgb(83, 83, 83);
}

#click-span:hover, #click-span-back:hover{
    background: #ffd04e;
    color: #333;
    box-shadow: 0px 8px 15px #ffe9ac;
}

#click-span-travel-add-descript{
    background: #aa5fff;
    color: white;
}

#click-span-travel-add-descript:hover{
    background: #bf87ff;
    box-shadow: 0px 8px 15px #d1abfd;
}

.click-span-travel-back-div{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    margin-top: 20px;
}

#click-span-travel, #click-span-travel-back{
    background: #74bfe8;
    color: rgb(255, 255, 255);
}

#click-span-travel:hover, #click-span-travel-back:hover{
    background: #61b7e6;
    box-shadow: 0px 8px 15px #9ad5f5;
}

.pac-container{
    background: white;
}

.pac-item{
    padding: 10px 20px;
    cursor: pointer;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border: none;
    transition: all .3s;
}

.pac-item:hover{
    padding-left: 30px;
}

.pac-item-query{
    font-size: 16px;
    font-weight: 200;
}

.pac-icon{
    display: none;
}

.btn-create-post, #click-span-travel-add-photos{
    background: #eb72b5;
    border: none;
    height: 35px;
    margin-bottom: 2.5px;
    color: white;
    cursor: pointer;
}

.btn-create-post:hover, .btn-create-post:focus, #click-span-travel-add-photos:hover{
    background: #ec56a9;
    box-shadow: 0px 8px 15px #f07dbc;

}

#map-create{
    margin-left: auto;
    margin-right: auto;
    max-width: 850px;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    transition: all .5s;
    box-shadow: 0 20px 60px rgba(86,74,64,.25);
    border-radius: 10px;
}

.post-map-create{
    position: absolute;
    visibility: hidden;
    opacity: 0;
    margin-top: 200px;
}

#button-add-path{
    height: 40px;
    width: 40px;
    position: absolute;
    border-radius: 2px;
    cursor: url("https://maps.gstatic.com/mapfiles/openhand_8_8.cur"), default;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 1px 4px -1px;
    z-index: 999;
    right: 0;
    margin: 10px;
    font-size: 25px;
    padding: 7px;
    top: 250px;
    transition: all .5s;
}

.unpushed-button-add-path{
    color: #666666;
    background: none rgb(255, 255, 255);
}

.unpushed-button-add-path:hover{
    color: #333;
}

.pushed-button-add-path{
    background: none rgb(123, 213, 255);
    color: white;
}

.pushed-button-add-path:hover{
    color: rgb(236, 236, 236);
}

.slide-images-style{
    max-height: 350px;
    min-height: 350px;
    margin-left: auto;
    margin-right: auto;
    transition: all .5s;
}

.carousel{
    background: #fafafa;
    border-radius: 10px;
}

.carousel-control{
    border-radius: 10px;
    width: 10%;
    transition: all.5s;
}

.carousel .left{
    background-image: linear-gradient(to right, rgba(94, 94, 94, 0.5) 0%, rgba(197, 197, 197, 0) 100%);
}

.carousel .right{
    background-image: linear-gradient(to left, rgba(94, 94, 94, 0.5) 0%, rgba(197, 197, 197, 0) 100%);
}

.carousel-indicators{
    bottom: 0px;
}

#slide-upload-image{
    height: 60px;
    width: 100%;
    top: 0px;
    text-align: center;
    z-index: 999;
    position: absolute;
    border-radius: 10px;
    opacity: 0;
    transition: all .5s;
    background-image: linear-gradient(to top, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
    cursor: pointer;
}

#slide-upload-image > ion-icon{
    font-size: 32px;
    z-index: 9999;
    margin-top: 25px;
    color: rgb(228, 228, 228);
}

#slide-upload-image:hover{
    opacity: 1;
}

.slide-show{
    position: relative;
    margin-top: 50px;
}

.cool-input-for-slide{
    background: transparent;
    border-top: none;
    border-left: none;
    border-right: none;
    outline: none;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 24px;
    font-weight: 200;
    text-align: center;
    width: 100%;
}

.slide-show, .carousel{
    box-shadow: 0 20px 60px rgba(86,74,64,.25) !important;
    position: absolute;
    visibility: hidden;
    height: 0px;
    opacity: 0px;
    transition: all .5s;
}

.standart-photos-p{
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 200px;
    font-size: 20px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.title-info-window{
    max-width: 200px;
    min-width: 200px;
    font-weight: bold;
}

.description-info-window{
    max-width: 200px;
    min-width: 200px;
    text-align: justify;
}

.button-info-window{
    max-width: 200px;
    min-width: 200px;
    text-align: center;
}

.button-info-window > ion-icon{
    font-size: 22px;
    padding-top: 5px;
    color: rgb(219, 109, 109);
    cursor: pointer;
    transition: all .5s;
}

.button-info-window > ion-icon:hover{
    color: rgb(211, 58, 58);
}